version: '3'
services:

  redisedge:
    container_name: redisedge
    image: redis
    ports:
      - 63790:6379
    # network_mode: host
  
  rtsp_server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp_server
    ports:
      - "8554:8554"
    volumes:
      - ./rtsp_server/mediamtx.yml:/mediamtx.yml:ro
    restart: always
    networks:
      - default


  camera_service:
    container_name: camera_service
    build: ./camera_service
    image: camera_service:falling
    depends_on:
      - redisedge
    volumes:
        - ./camera_service:/app
    command: ['python3', 'server_cam.py']
    # network_mode: host
    networks:
      - default

  tracking_service:
    container_name: tracking_service
    build: ./tracking_service
    image: tracking_service:falling
    depends_on:
      - redisedge
      - camera_service
    volumes:
      - ./tracking_service:/app
    command: ['python3', 'server.py'] #change to YOLO model
    # command: ['python3', 'server_simpleBase.py'] #change to SimpleBaseline model 
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0']
            capabilities: [gpu, utility, compute, video]
    # network_mode: host
    networks:
      - default
   
  business_service:
    container_name: business_service
    build: ./business_service
    image: business_service:falling
    depends_on:
      - redisedge
      - tracking_service
    volumes:
      - ./business_service:/app
    # ports:
    #   - 6013:5000
    command: ['python3', 'server.py'] #change to YOLO model
    # command: ['python3', 'server_simpleBase.py'] #change to SimpleBaseline model
    # network_mode: host
    networks:
      - default

  visualization_service:
    container_name: visualization_service
    build: ./visualization_service
    image: visualization_service:falling
    depends_on:
      - redisedge
      - business_service
      # - camera_service
    volumes:
      - ./visualization_service:/app
    ports:
      - 5000:5000
    command: [ 'python3', 'server_flask.py' ]
    # network_mode: host
    networks:
      - default
